<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    
    @Scripts.Render("~/app/js")
    @Scripts.Render("~/app")
</head>
<body ng-app="TournamentModule">
    <div ng-controller="navbarController">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<img  src="~/Content/ronaldinho_icon.png" class="navbar-brand img-circle img-responsive" alt="ronaldinho icon" style="width:20%;height:12%" />*@
                    <a class="navbar-brand" href="#">Tournaments aplication</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="home">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Hall of fame<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="topplayers">Top players</a></li>
                                <li><a ui-sref="topteams">Top teams</a></li>
                            </ul>
                        </li>
                        <li><a ui-sref="tournaments">Tournaments</a></li>
                        <li><a ui-sref="gallery">Gallery</a></li>
                        <li ng-show="!isLogged"><a ng-click="Check()" ui-sref="mytournaments">My tournaments</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="isLogged" class="ng-hide"><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li ng-show="isLogged" class="ng-hide"><a  ng-click="Check()" ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                        <li ng-show="!isLogged" class="ng-hide"><a  ng-click="Check();LogOut()" ui-sref="home"><span class="glyphicon glyphicon-log-in"></span>Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="container-fluid" ui-view="root">
        
        @RenderBody()

    </div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3.26&key=AIzaSyA5hrIdvl69FjzQ1XwPqIYjM2764MXm6FA"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
